#set($ex='.html')
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sarah Picture of the Day | All Messages</title>
		<meta content="Dan Klco" name="author" />
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
		<link href="css/base.css" rel="stylesheet" />
		<link href="css/skeleton.css" rel="stylesheet" />
		<link href="css/layout.css" rel="stylesheet" />
		<link href="css/jquery.lightbox-0.5.css" rel="stylesheet"  />
		<link rel="shortcut icon" href="favicon.png" />
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37209568-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div class="container">
			<div class="fifteen columns content">
				<div id="header" class="box">
					<a href="./"><img src="images/sarah-header.png" /></a>
					<h3>Sarah Pictures of the Day</h3>
				</div>
				<ul id="nav" class="box">
					<li><a href="index.html">Home</a></li>
					<li><a href="all.html">View All</a></li>
					<li><a href="slideshow.html">Slideshow</a></li>
				</ul>
				<div id="message" class="box">
					<ul id="messages">
						#set( $velocityCount = 1 )
						#foreach( $message in $messages )
							#set( $index = $messages.size() - $velocityCount )
							#set( $emailMessage = $messages.get($index) )
							<li class="item">
								<div class="subheader box">
									<h3><a href="$date.format('yyyy-MM-dd-HH-mm-ss',$emailMessage.sentDate)$ex">From $emailMessage.sender on $date.format('MMM d, yyyy',$emailMessage.sentDate)</a></h3>
								</div>
								<div class="message box">
									$emailMessage.message
								</div>
								#if($emailMessage.attachments.size() > 0)
									<ul class="images box">
										#foreach( $attachment in $emailMessage.attachments )
											#set ( $name = $attachment.name.replace("#", "%23") )
											#set ( $name = $name.replace("?", "%3F") )
											<li>
												<a href="$date.format('yyyy-MM-dd-HH-mm-ss',$emailMessage.sentDate)/web-$name"
													title="Picture of the Day from $date.format('MMM d, yyyy',$emailMessage.sentDate): $attachment.name &lt;a href=&quot;./$date.format('yyyy-MM-dd-HH-mm-ss',$emailMessage.sentDate)/$name&quot;&gt;Download Original&lt;/a%gt;">
													<img src="$date.format('yyyy-MM-dd-HH-mm-ss',$emailMessage.sentDate)/thumbnail-$name" />
												</a>
											</li>
										#end
									</ul>
								#end
							</li>
						#end
					</ul>
				</div>
				<footer class="box">
					<p>
						Copyright &copy; 2012, by Daniel &amp; Tricia Klco. All rights reserved.<br/>
						Text, graphics, and HTML code are protected by US and International Copyright Laws, and may not be copied, reprinted, published, translated, hosted, or otherwise distributed by any means without explicit permission.
					</p>
				</footer>
			</div>
		</div>
	</body>
</html>
