#set($ex='.html')
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sarah Picture of the Day | Slideshows</title>
		<meta content="Dan Klco" name="author" />
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
		<link href="css/base.css" rel="stylesheet" />
		<link href="css/skeleton.css" rel="stylesheet" />
		<link href="css/layout.css" rel="stylesheet" />
		<link href="css/jquery.lightbox-0.5.css" rel="stylesheet"  />
		<link rel="shortcut icon" href="favicon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37209568-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div class="container">
			<div class="fifteen columns content">
				<div id="header" class="box">
					<a href="./"><img src="images/sarah-header.png" /></a>
					<h3>Sarah Picture of the Day Slideshows</h3>
				</div>
				<ul id="nav" class="box">
					<li><a href="index.html">Home</a></li>
					<li><a href="all.html">View All</a></li>
					<li><a href="slideshows.html">Slideshow</a></li>
				</ul>
				<div id="message" class="box">
					<h4>Slideshows</h4>
					<p>
						Click on a date to view a slideshow of the Sarah Photos of the Day for that month.
					</p>
					#set($month = '')
					<ul id="slideshows">
						#foreach( $message in $messages )
							#set($thisMonth = $date.format('MMMM',$message.sentDate))
							#set($thisYear = $date.format('yyyy',$message.sentDate))
							#if($month != $thisMonth)
								<li>
									<a href="slideshow.html?date=$date.format('yyyyMM',$message.sentDate)">$thisMonth $thisYear</a>
								</li>
								#set($month = $thisMonth)
							#end
						#end
					</ul>
				</div>
				<footer class="box">
					<p>
						Copyright &copy; 2012, by Daniel &amp; Tricia Klco. All rights reserved.<br/>
						Text, graphics, and HTML code are protected by US and International Copyright Laws, and may not be copied, reprinted, published, translated, hosted, or otherwise distributed by any means without explicit permission.
					</p>
				</footer>
			</div>
		</div>
	</body>
</html>
