---
layout: default
---

<div id="message" class="box">
	<ul id="messages">
		{% for message in site.posts %}
			<li class="item">
				<div class="subheader box">
					<h3><a href="{{ post.url }}">From {{ message.sender }} on {{ sentDate | date: %B %d, %Y}}</a></h3>
				</div>
				<div class="message box">
					{{ message.content }}
				</div>
				{% if message.attachments.size > 0 %}
					<ul class="images box">
						{% for attachment in page.attachments %}
							{% capture attachment %}{{ attachment | replace:'#','%23' | replace:'?','%3F' }}{% endcapture %}
							<li>
								<a href="/images/posts/{{ sentDate | date: %F-%H-%M }}/web-{{attachment}}"
									title="Picture of the Day from {{ sentDate | date: %B %d, %Y}} {{ attachment }} &lt;a href=&quot;/images/posts/{{ sentDate | date: %F-%H-%M }}/{{attachment}}&quot;&gt;Download Original&lt;/a%gt;">
									<img src="/images/posts/{{ sentDate | date: %F-%H-%M }}/thumbnail-{{attachment}}" />
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>