---
layout: default
---

<div id="message" class="box">
	{% if paginator.total_pages != 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/" class="previous">Previous</a>
				{% else %}
					<a href="/page{{paginator.previous_page}}/" class="previous">Previous</a>
				{% endif %}
			{% endif %}
			<span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
			{% if paginator.next_page %}
				<a href="/page{{paginator.next_page}}/" class="next">Next</a>
			{% endif %}
		</div>
	{% endif %}
	<ul id="messages">
		{% for message in paginator.posts %}
			<li class="item">
				<div class="subheader box">
					<h3><a href="{{ message.url }}">From {{ message.sender }} on {{ message.sentDate | date: "%B %d, %Y" }}</a></h3>
				</div>
				<div class="message box">
					{{ message.content }}
				</div>
				{% if message.attachments.size > 0 %}
					<ul class="images box">
						{% for attachment in message.attachments %}
							{% capture attachment %}{{ attachment | replace:'#','%23' | replace:'?','%3F' }}{% endcapture %}
							<li>
								<a href="/images/posts/{{ message.sentDate | date: "%F-%H-%M-%S" }}/web-{{attachment}}"
									title="Picture of the Day from {{ message.sentDate | date: "%B %d, %Y" }} {{ attachment }} &lt;a href=&quot;/images/posts/{{ message.sentDate | date: "%F-%H-%M-%S" }}/{{attachment}}&quot;&gt;Download Original&lt;/a%gt;">
									<img src="/images/posts/{{ message.sentDate | date: '%F-%H-%M-%S' }}/thumbnail-{{attachment}}" />
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% if paginator.total_pages != 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/" class="previous">Previous</a>
				{% else %}
					<a href="/page{{paginator.previous_page}}/" class="previous">Previous</a>
				{% endif %}
			{% endif %}
			<span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
			{% if paginator.next_page %}
				<a href="/page{{paginator.next_page}}/" class="next">Next</a>
			{% endif %}
		</div>
	{% endif %}
</div>