# Basic Auth
AuthUserFile /usr/local/htpasswd/.htpasswd
AuthGroupFile /dev/null
AuthName "Open Sesame"
AuthType Basic
<Limit GET POST>
require valid-user
</Limit>

# Allow Access to Icons
<Files "apple-touch-icon.png">
    Satisfy Any
    Allow from all
</Files>

# 1 YEAR
<filesMatch "(?i)\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=29030400, public"
</filesMatch>
# 1 WEEK
<filesMatch "(?i)\.(xml|txt|css|js)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>
# 10 MIN
<filesMatch "(?i)\.(html|htm|php)$">
Header set Cache-Control "max-age=600, private, proxy-revalidate"
</filesMatch>

# set the error page
ErrorDocument 404 /404.html
